<%- include("partials/header"); -%>
 <div class="card">
    <h1 class="title1">Organize your work and life, finally.</h1>
    <P class="title2">Become focused, organized, and calm with Todoist.</P>
 </div>

<%- include("partials/footer"); -%>
